@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  border-radius: 10rem;
  background-color: grey;
}
::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10rem;
}
::-webkit-scrollbar-track-piece{
    background-color: white;
}